:root {
  --whiteBaseTransparnetBg: rgba(255, 255, 255, 0.7);
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --greyColor6: #868686;
  --greyColor5: #9e9898;
  --greyColor4: #cbcdcf;
  --greyColor3: #e9ebec;
  --greyColor2: #f3f3f3;
  --violetColor: #c56cf0;
  --violetLightColor: #cd84f1;
  --redColor: #ff3838;
  --redLigthColor: #ff4d4d;
  --yellowColor: #fff200;
  --yellowLightColor: #fffa65;
  --orangeColor: #ff9f1a;
  --orangeLigthColor: #ffaf40;
  --pinkColor: #ffb8b8;
  --pinkLigthColor: #ffcccc;
  --greenColor: #3ae374;
  --greenLightColor: #32ff7e;
  --blueSkyColor: #67e6dc;
  --blueSkyLigthColor: #7efff5;
  --darkSkyColor: #17c0eb;
  --darkSkyLightColor: #18dcff;
  --darkVioletColor: #7158e2;
  --darkVioletLigthColor: #7d5fff;
  --darkblackColor: #3d3d3d;
  --darkBlackLigthColor: #4b4b4b;
  --facebookBg: #4064ac;
  --everGreenColor: #8ABBA8;
  --brightBlueColor: #0070DB;
  --brightPinkColor: #FF4CAA;
}
